<header class="header" id="headerMain">
  <div class="header-logo" id="headerLogoBox">
    <img alt="logo" class="header-logo-img" src="./img/placeholder-logo.png">
  </div>
  <nav class="header-nav">
    <ul>
      <li><a href="/compStore">HOME</a></li>
      <li><a href="#">STORE</a></li>
      <li><a href="#">CONTACT US</a></li>
    </ul>
  </nav>
  <div class="header-search" id="searchBox">
    <input class="header-search-textbox" id="searchInput" name="search" placeholder="Search for products" type="text">
    <button class="header-search-button">
      <span class="fa-solid fa-magnifying-glass search-icon"></span>
    </button>
  </div>
  <div class="user-section" id="userSection">
    <div class="user-section-background"></div>
    <div class="user-section-content">
      <a class="user-section-item" href="#">
        <!--<img alt="Login/Register" src="./img/icons/user-icon.svg">-->
        <span>LOGIN / REGISTER</span>
      </a>

      <a class="user-section-item" href="#">
        <span class="fa-solid fa-heart tool-icon">
          <span class="badge">0</span>
        </span>
        <!--<img alt="Wishlist" src="./img/icons/wishlist-icon.svg">-->
      </a>

      <a class="user-section-item cart-widget" href="#">
        <span class="fa-solid fa-cart-shopping tool-icon">
          <span class="badge">0</span>
        </span>
        <!--<img alt="Cart" src="./img/icons/cart-icon.svg">-->
        <div class="cart-info">
          <span class="cart-subtotal">
            <span class="currency-symbol">රු.</span>
            <span class="amount">0.00</span>
          </span>
        </div>
      </a>
      <!--      <a class="user-section-item" href="#">-->
      <!--        <img alt="Cart" src="./img/icons/cart-icon.svg">-->
      <!--        <span class="badge">0</span>-->
      <!--      </a>-->
    </div>
  </div>
</header>

